.chat-icon {
  z-index: 9999;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #004080;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.50);
  cursor: pointer;
  transition: transform 0.3s;
}

.chat-icon img {
  width: 50%;
  height: 50%;
}

.chat-icon:hover {
  transform: scale(1.1);
}